body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
    position: relative;
    color: #fff;
}

iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    margin: 0;
}
.overlay-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}
.overlay-buttons button {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.overlay-buttons button:hover {
    background: rgba(0, 0, 0, 0.8);
}