@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background-color: #0d0d0d;
	font-family: "League Spartan", serif;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.banner {
	width: 100%;
	height: calc(100vh - 0px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: none;
	color: #fff;
	position: relative;
}

.scroll-down-btn {
	opacity: 0.5;
	position: absolute;
	bottom: 20px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(13, 13, 13, 0.5);
	backdrop-filter: blur(3px);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	z-index: 99999;
}

.nav-btn {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	transition: color 0.3s, transform 0.3s;
	margin-right: 10px;
}

.nav-btn:hover {
	color: #ccc;
	transform: rotate(360deg);
}

.nav-links {
	display: flex;
	gap: 20px;
}

.nav-links a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: flex;
	align-items: center;
	gap: 8px;
	transition: color 0.3s;
}

.nav-links a:hover {
	color: #ccc;
}

.nav-links i {
	font-size: 20px;
}

.fade {
	-webkit-animation: colorFade 5s infinite;
	animation: colorFade 5s infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes colorFade {
	0% {
		color: green;
	}

	33.33% {
		color: blue;
	}

	66.66% {
		color: yellow;
	}

	100% {
		color: green;
	}
}

@keyframes colorFade {
	0% {
		color: green;
	}

	33.33% {
		color: blue;
	}

	66.66% {
		color: yellow;
	}

	100% {
		color: green;
	}
}

.container-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

.image-item {
	position: relative;
	width: 190px;
	height: 190px;
	overflow: hidden;
	transition: transform 0.3s;
	border-radius: 10px;
}

.image-item:hover {
	transform: scale(1.1);
}

.image-item a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.image-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.image-item:hover .label {
	opacity: 1;
}

.image-item-tre {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
	transition: transform 0.3s;
	border-radius: 10px;
}

.image-item-tre:hover {
	transform: scale(1.1);
}

.image-item-tre a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.image-item-tre img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.label-tre {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.image-item-tre:hover .label-tre {
	opacity: 1;
}

.search-bar-wrapper {
	margin: 0 auto;
	position: relative;
	width: 40%;
	margin-bottom: 15px;
}

.search-bar {
	width: 100%;
	padding: 10px 40px 10px 10px;
	background-color: #141414;
	border: none;
	color: #fff;
	font-size: 16px;
	border-radius: 8px;
	text-align: left;
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: #ccc;
	font-size: 16px;
	pointer-events: none;
}

iframe {
	width: 75vw;
	height: 75vh;
	border: none;
	margin: 0 auto;
	display: flex;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
  }

  .controls {
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 75vw;
	gap: 10px;
	background-color: #141414;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
  }

  .controls button {
	padding: 10px;
	font-size: 16px;
	background-color: transparent;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.2s ease;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .controls button:hover {
	color: #ccc;
  }

.image-link {
	display: inline-block;
}

.image {
	border: none;
	width: 300px;
	height: 200px;
	transition: transform 0.3s ease;
	border-radius: 15px;
}

.image:hover {
	transform: scale(1.1);
}

#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #0d0d0d;
	z-index: 9999;
	color: white;
}

.dots {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
}

.dot {
	width: 12px;
	height: 12px;
	background-color: white;
	border-radius: 50%;
	animation: bounce 1.2s infinite ease-in-out;
}

.dot:nth-child(2) {
	animation-delay: 0.2s;
}

.dot:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes bounce {

	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}

#loading-screen p {
	font-size: 1rem;
	opacity: 0.9;
}

hr {
	border: none;
	height: 2px;
	background-color: #fff;
	margin: 40px auto;
	width: 50%;
}

.button {
	background-color: #141414;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition: background-color 0.3s, transform 0.2s;
	cursor: pointer;
	border-radius: 8px;
}

.button:hover {
	background-color: #1d1d1d;
	transform: scale(1.05);
}

h1 {
	font-size: 3rem;
	margin: 10px;
}

.bar {
	margin: 0 auto;
	width: 70vw;
	height: 80px;
	background-color: #141414;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border: none;
	border-radius: 8px;
}

.button-home, .button-discord {
	background-color: #141414;
	border: none;
	color: #fff;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition: background-color 0.3s, transform 0.2s;
	cursor: pointer;
	border-radius: 8px;
}

.button-home:hover {
	background-color: #1d1d1d;
	transform: scale(1.05);
}

.button-discord:hover {
	background-color: #5865F2;
	transform: scale(1.05);
}

a {
	text-decoration: none;
}

.con {
	display: flex;
	margin: 0;
}

.image-bundle {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	width: 100%;
}

.image-bundle img {
	width: 130px;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s, box-shadow 0.3s;
}

.image-bundle img:hover {
	transform: scale(1.06);
}

.my-container {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    width: 50vw; 
    margin: 0 auto; 
}

.my-box {
    background-color: #141414; 
    padding: 20px; 
    color: white; 
    text-align: center; 
    border: none;
    border-radius: 50px; 
}

.form__input {
    width: 500px;
    padding: 20px 20px; 
    border: none;
    border-radius: 50px;
    background-color: #141414;
    color: inherit; 
    font-size: 16px;
    transition: width 0.3s ease; 
}

.form__input:focus {
    width: 600px; 
}

.search-bar img {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

.images-row {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.images-row a {
	display: block;
}

.images-row img {
	width: 30px;
	height: 30px;
	transition: transform 0.3s ease;
}

.images-row img:hover {
	transform: scale(1.1);
}

.ad-container {
	padding-top: 30px;
	margin: 0 auto;
	width: 500px;
	height: 200px;
}

.ad-image {
	width: 100%;
	height: 100%;
	transition: transform 0.2s ease-in-out;
	display: block;
}

.ad-image:hover {
	transform: translateY(-10px);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fff transparent;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}
