@import url('/assets/css/themes.css');

body {
    overflow: hidden;
    margin: 0;
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.tabs {
    display: flex;
    background-color: var(--bg-color);
    padding: 4px;
    gap: 8px;
    overflow-x: auto;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.tab {
    padding: 6px 12px;
    background: var(--box-bg);
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-color);
    white-space: nowrap;
}

.tab.active {
    background: var(--highlight-bg);
    color: var(--highlight-text);
}

.tab-close {
    margin-left: 6px;
    color: var(--hover-color);
    cursor: pointer;
}

.new-tab-btn {
    padding: 6px 12px;
    background: var(--box-bg);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    color: var(--text-color);
    font-weight: bold;
}

.navbar {
    display: flex;
    padding: 8px;
    background: var(--bg-color);
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

#uv-form {
    flex: 1;
    display: flex;
}

.url-input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    font-size: 14px;
    background: var(--input-bg);
    color: var(--text-color);
}

iframe {
    width: 100%;
    height: calc(100vh - 104px);
    border: none;
    background-color: var(--bg-color);
}

.desc {
    display: none;
}